@import "tailwindcss";

.embla {
  --slide-spacing: 2rem;
  --slide-size: 20%;
}

.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  padding-left: var(--slide-spacing);
}


@layer components {
  .container {
    @apply mx-auto w-full sm:w-[576px] md:w-[768px] lg:w-[992px] xl:w-[1200px] 2xl:w-[1400px];
    /* @apply px-4 mx-auto w-full max-w-[1400px]; */
  }
  .x-spacing {
    @apply px-8 md:px-8 lg:px-12 mx-auto;
  }
}

/* @apply px-4 mx-auto w-full sm:w-[540px] md:w-[720px] lg:w-[960px] xl:w-[1140px] 2xl:w-[1320px]; */